{% extends 'layout.html' %}

{% block body %}
    <h1 class="display-4"><b>Calculation History</b></h1>
      <ul class="list-group">
          {% for entry in history %}
          <li class="list-group-item">
              <h3>
                  <b>{{entry.time_created}}</b>
              </h3>
              <h4>
                  Your Minterms: {{entry.minterms}}
              </h4>
              <h4>
                  Maxterms: {{entry.maxterms}}
              </h4>
               <h4>
                 Don't-care terms: {{entry.dont_cares}}
              </h4>
              <h4>
                  Prime Implicant Chart:
              </h4>
              <p>
                  {{entry.pi_chart}}
              </p>
              <h4>
                  Reduced Prime Implicant Chart:
              </h4>
              <p>
                  {{entry.reduced_pi_chart}}
              </p>
              <h3>Solution: <b>{{entry.solution}}</b></h3>
          </li>
          {% endfor %}
      </ul>
      <br><br>
{% endblock %}